* {
    scroll-behavior: smooth;
}

.bg-pattern {
    background: linear-gradient(45deg,#0000 calc(25%/3), #0f172a 0 calc(50%/3),
    #0000 0 calc(250%/3), #0f172a 0 calc(275%/3),
    #0000 0),linear-gradient( 45deg,#0f172a calc(25%/3), #0000 0 calc(50%/3),
    #0f172a 0 25%, #0000 0 75%,
    #0f172a 0 calc(250%/3), #0000 0 calc(275%/3),
    #0f172a 0),
    linear-gradient(-45deg,#0000 calc(25%/3), #0f172a 0 calc(50%/3),
            #0000 0 calc(250%/3), #0f172a 0 calc(275%/3),
            #0000 0),linear-gradient(-45deg,#0f172a calc(25%/3), #0000 0 calc(50%/3),
            #0f172a 0 25%, #0000 0 75%,
            #0f172a 0 calc(250%/3), #0000 0 calc(275%/3),
            #0f172a 0)
    #202a40;
    background-size: 64px 64px;
    background-position: 0 0, 32px  32px;

}

.wave-container {
    height: 40vh;
    position: relative;
}

.wave {
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
}

@media(max-width:850px) {
    .wave {
        height: 65px;
    }
}
